// Place all the styles related to the ideas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";

$text-color: #000000;

.box {
  border: 1px $text-color solid;
}

.spacer {
  padding: 5px;
  margin: 10px;
}
